#title {
  color: red;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
  padding: 10px;
  border-bottom: 10px solid #ccc;
}


#input-box {
  margin-top: -180%;
  margin-left: 28%;
  width: 50%;
  border: 5px solid gainsboro;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 23px;
}


#sub-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  cursor: pointer;
  margin-left: 28%;
  border-radius: 10px;
  font-weight: bold;
  width: 50%;
}


#lookupKey {
  margin-left: -13%;
  font-weight: bold;
}

#commonLookupKeys {
  font-weight: bold;
}

.dropDown {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 0px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
}

#keys {
  font-weight: bold;
}

#value-key {
  color: brown;
  font-weight: bold;
  font-family: "Monospace";
}


#value-field {
  color: blue;
  font-weight: bold;
}

body {
  font-family: "Monospace";
}

#code {
  margin-left: 28%;
  width: 50%;
  border: 5px solid gainsboro;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 23px;
}


/* body {
  background-image: url(
"https://res.cloudinary.com/dfgwcxpwt/image/upload/v1747486137/email_background_uaqrna.jpg"
  );
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: '100vw';
  height: '100vh'
} */


img {
  width: 30%;
  margin-left: 38%;
}

#validErrMsg{
  margin-left: 5%;
  font-size: 23px;
  color:red
}