

.container h1{
  margin-top:15%;
  font-size:70px;
  color:white;
  font-family:monospace;
  color:#99FF00;
}

.container img{
  margin-top:3%;
  margin-left: 14%;
  border-radius:5000px;
}

.footer button{
  margin-top:13%;
  margin-left:19%;
  padding:40px;
  border-radius:1px;
  font-size:40px;
  font-weight: bold;
  font-family:monospace;
}