body{
  background-color: green;
}

#main-container{
  margin: 40%  0%  0%  25%;
  }
#header{
  color:white;
  background-color:lightgreen;
  height: 150px;
  width:500px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#container{
  color:white;
  background-color:white;
  height: 500px;
  width:500px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


#header h1{
  padding: 45px 0px 0px 70px;
  font-size:70px;
  font-family:Courier new;
  color:red;
}

#sub-container{
  margin: 0% 0% 0% 10%;
  padding-top:80px;
}

#sub-container input{
  width:300px;
  height: 40px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 5px;
  font-size:30px;
}

#log{
border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  background-color:blue;
  color:white;
}
