.titleName {
  color: red ;
  font-style:italic;
  font-family: Monospace;
}

.subTitle {
  color: green;
}

.tableName table{
  border: 1px solid;
  border-collapse: collapse;
  background-color:black;
  border-color:black;
  font-family:Monospace;
  font-size:12px;
  margin-left:10%;
}

.tableName table th{
  border:3px solid;
  padding:15px;
  text-align: center;
  color:lightgreen;
  border-color:white;
}
.tableName table td{
  border:3px solid;
  padding:15px;
  text-align: center;
  border-color:white;
  color:yellow;
}

